repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/cmhughes/latexindent.pl
    rev: V3.20.3
    hooks:
      - id: latexindent

  # https://github.com/macisamuele/language-formatters-pre-commit-hooks/issues/132
  # - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  #   rev: v2.5.0
  #   hooks:
  #     - id: pretty-format-yaml
  #       args: [--autofix]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.16
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
